{% load crispy_forms_tags %}
<h1>Login </h1>
{% if form.errors %}
<p>Your username and password didn't match</p>
{% endif %}



{% if user.is_authenticated %}
    <p>Please continue to the site by clicking <a href="{% url 'crud:post_home' %}">here</a></p>
{% else %}
    <p>Please login to see this site</p>
{% endif %}

<form method="post" action=" {% url 'login' %}">
    {% csrf_token %}
    {{ form|crispy}}
<input type="submit" class="btn btn-primary" value="Login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>